@page
@model BeatTim.Pages.Account.EditingProfile

@{
    Layout = "_Layout";
    ViewData["Title"] = "Редактирование профиля";
    if (int.TryParse(HttpContext.Items[nameof(UserToken)]?.ToString(), out var clientId)) 
        Model.UserProfile = await Model.AccountService.GetUserProfileAsync(clientId);
}

<div class="modal fade" id="input-img" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-body border border-dark rounded">
                <div class="container-fluid">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center p-2 mb-2">
                            <h5>Загрузка фотографии</h5>
                        </div>
                        <button class="d-flex bg-dark flex-column align-items-center p-5 border border-2 border-secondary rounded-3 " id="btn-download-user-photo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                            </svg>
                            <div class="text-white">
                                <h6>Выберете файл</h6>
                                <span>Минимальный размер 300 пикселей и соотношение 1:1</span>
                            </div>
                        </button>
                        <input id="file-input" type="file" accept="image/jpeg,image/jpg,image/pjpeg,image/png" name="files[]" hidden="true">
                        <div class="mt-4 align-self-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="model-closed-btn-user-photo">Вернуться обратно</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="error-message-user-photo" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="model-body d-flex justify-content-center p-3">
                <span id="error-message-content" class="text-center"></span>
            </div>
        </div>
    </div>
</div>
<div class="container-xl">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            @{
                await Html.RenderPartialAsync("UserProfileEditing", Model.UserProfile);
                await Html.RenderPartialAsync("EditBox", Model);
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/editingProfile.js"></script>
}