body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  
    background-color: rgb(240,240,240);
}
.all_page{
    display: flex;
    flex-direction: column; 
}
.page_width{
    max-width: 1098px;
    margin: 0 auto;
    padding: 0 24px; 
}
.page_header{
    background-color: rgb(48,59,68);
    height: 48px;
}
.header_content{
    display: flex;
    align-items: center;
    height: 48px;
    color: white;
}
.name_site{
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}
.author_link{
    margin: 0 3%;
    text-decoration: none;
    color: inherit;
    padding: 6px 8px;
    border: 1px solid rgb(110,118,124);
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.author_link:hover{
    border-color: white;
}
.top_link{  
    flex: 1;
    text-decoration: none;
    text-align: right;
    color: rgba(126, 252, 0, 0.884);
    font-size: .875rem;
}
.page_navigate{
    position:sticky;
    top: 0;
    background-color: white;
}
.nav_menu{
    display: flex;
    height: 56px;
}
.main_nav_menu{
    flex: 1;
    align-self: stretch;
}
.main_nav_menu_selections{
    display: flex;
    height: 100%;
}

.navigate{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_item{
    color: #909090;
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: 0 10px;
}
.nav_item.active{
    color: #333;
}
.nav_item:hover{
    color: #4d80aa;
}
.nav_item:first-child{
    padding-left: 0;
}
.nav_item:last-child{
    padding-right: 0;
}
.nav_user{
    display: flex;
    align-items: center;
    justify-self: end;
    margin-left: auto;
}
.nav_user_item{
    fill: #929ca5;
    margin-left: 16px;
}
.nav_user_item.search{
    
}
.nav_user_item.profile{
}
.nav_user_item_icon{
    width: 18px;
    height: 18px
}
