<div class="dropdown ms-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_menu" data-bs-toggle="dropdown" aria-expanded="false">
        Отсортировать по
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown_menu">
        <li>
            <button class="dropdown-item active" id="sort-title">Названию</button>
        </li>
        <li>
            <button class="sort-num dropdown-item" data-sort-class="rating">Рейтингу</button>
        </li>
        <li>
            <button class="sort-num dropdown-item" data-sort-class="number_auditions">Колличнству прослушиваний</button>
        </li>
        <li>
            <button class="sort-num dropdown-item" data-sort-class="price">Цене</button>
        </li>
        <li>
            <button class="dropdown-item" id="sort-date">Дате публикации</button>
        </li>
    </ul>
</div>