<div class="modal fade" id="modal_with_notification" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-dark" id="bg_color_modal_notification">
                <div class="model-body d-flex justify-content-center p-3">
                    <span id="notification_content" class="text-center"></span>
                </div>
            </div>
        </div>
    </div>
</div>