@page
@model BeatTim.Pages.Navbar.CheckingComments

<div class="container-xl">
    <div class="d-flex flex-column">
        <h2>Комментарии для проверки</h2>
        <div class="d-flex flex-column align-items-stretch" id="checked_comments_container">
        </div>
        <div class="d-flex flex-column align-items-center mt-4">
            <span class="link" id="more_comments_button">Показать еще</span>
        </div>
    </div>
</div>
<form method="post" hidden></form>
@{
    await Html.RenderPartialAsync("Partials/SuccessModalNotification");
}

@section Scripts
{
    <script src="~/js/downloadMoreCommentsForCheck.js"></script>
    <script src="~/js/setVerificationStatusComments.js"></script>
}